:root {
  --primary-color: rgb(157, 213, 248);
  --secondary-color: rgb(21, 21, 110);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .flex {
    display: flex;
  }

  /* BODY */
body { 
    color: var(--secondary-color);
    font-family: Trebuchet MS, Arial, sans-serif;
    background-color: var(--primary-color);
    text-align: center;
  }

  /* HEADER / NAV BAR STYLES START */
header {
  padding: 10px 35px;
  background-color: beige;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold; 
  font-size: 3.48vw;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.75vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
}
/* HEADER / NAVBAR STYLES END */

/* SUBTITLE */
.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 1.9vw;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border: var(--secondary-color) solid 2px;
  border-radius: 80%;
  margin: 5%;
}

/* ABOUT ME */
.intro {
  display: flex;
  padding: 50px;
  margin: 0 10%;
  align-items: flex-start;
}

.intro div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.intro img {
  width: 20vw;
  height: 20vw;
  margin: 25px 35%;
  align-items: flex-start;
  border-radius: 50%;
}

/* MY WORK */
.showcase {
  margin: 0 15%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.showcase img {
  border: solid var(--secondary-color) 5px;
  border-radius: 50%;
}

.API-Mash-Project {
  flex: 2;
  position: relative;
}

.API-Mash-Project img {
  width: 60vw;
  height: auto;
  filter: grayscale(100%);
}

.API-Mash-Project img:hover {
  filter:brightness(100%)
}

.smaller {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.Feed-Your-Camera img {
  width: 30vw;
  height: 15vw;
  flex: 1;
  filter: grayscale(100%);
}

.Feed-Your-Camera img:hover {
  filter: grayscale(100%);
}

.Lockdown-Security img {
  width: 30vw;
  height: 15vw;
  flex: 1;
  filter: grayscale(100%);
}

.Lockdown-Security img:hover {
  filter: brightness(100%);
}

.robot-gladiators img {
  width: 30vw;
  height: 15vw;
  flex: 1;
  filter: grayscale(100%);
}

.robot-gladiators img:hover {
  filter: brightness(100%);
}

.run-buddy2 img {
  width: 30vw;
  height: 15vw;
  flex: 1;
  filter: grayscale(100%);
}

.run-buddy2 img:hover {
  filter:brightness(100%)
}

.Horiseon img {
  width: 30vw;
  height: 15vw;
  flex: 1;
  filter: grayscale(100%);
}

.Horiseon img:hover {
  filter: brightness(100%);
}

.title {
  text-align: center;
  font-size: auto;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  header .nav {
    font-size: 90%;
  }

  .intro img {
    height: 40vw;
    width: auto;
  }

  .smaller {
    flex-direction: column;
  }
}

/* CONTACT ME */
.contact-me {
  margin: 0 10%;
  padding: 50px;
}

.contact-me a img {
  width: 5vw;
  height: auto;
  flex: 1;
  flex-direction: row;
}

/* FOOTER */
footer {
  background-color: beige;
}




