:root {
  --primary-color: rgb(157, 213, 248);
  --secondary-color: rgb(21, 21, 110);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* BODY */
body { 
    color: var(--secondary-color);
    font-family: Trebuchet MS, Arial, sans-serif;
    background-color: var(--primary-color);
  }

  /* HEADER / NAV BAR STYLES START */
header {
  padding: 20px 35px;
  background-color: beige;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold; 
  font-size: 3.48vw;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.75vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
}
/* HEADER / NAVBAR STYLES END */

/* SUBTITLE */
.subtitle {
  display:flex;
  flex-direction: column;
  font-size: 1.75vw;
  font-weight: lighter;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

/* ABOUT ME */
.intro {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 0 10%;
  border: red solid 5px
}

.intro div {
  align-items: center;
  flex: 1;
}

.intro img {
  width: 20vw;
  height: auto;
  margin: 25px 35%;
  align-items: center;
  border-radius: 50%;
}

/* MY WORK */
.showcase {}
.run-buddy2 a img {
  max-width: 400px;
  max-height: 350px;
}

.smaller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.smaller a {
  display: flex;
}

.smaller a img {
  max-width: 400px;
  max-height: 350px;
}