:root {
  --primary-color: rgb(157, 213, 248);
  --secondary-color: rgb(21, 21, 110);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body { 
    color: var(--secondary-color);
    font-family: Trebuchet MS, Arial, sans-serif;
    background-color: var(--primary-color);
    border: solid red 10px;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* HEADER / NAV BAR STYLES START */
header {
  padding: 20px 35px;
  background-color: beige;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold; 
  font-size: 3.48vw;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
  border: solid red 5px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
}
/* HEADER / NAVBAR STYLES END */

/* SECTION STYLES */
.subtitle {
  font-size: 1.75vw;
  font-weight: lighter;
  text-align: right;
  text-shadow: beige;
  padding: 10px 10px 10px 10px;
}

.intro img {
  max-width: 15%;
}

.big-showcase-item a img {
  max-width: 400px;
  max-height: 350px;
}

.cont-showcase-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.cont-showcase-items a {
  display: flex;
  border: solid red 5px;
}

.cont-showcase-items a img {
  max-width: 400px;
  max-height: 350px;
  border: solid red 5px;
}